<form method="post" action="{{ path('app_formation_delete', {'id_form': formation.id_form}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ formation.id_form) }}">
    <button class="btn">Delete</button>
</form>
